body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('stopwatch.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
}
 h1 {
    font-family:Arial;
    color: #ffffff;
    background-color: #ff6347;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 20px;
    transition: transform 0.3s ease;
}

h1:hover {
    transform: scale(1.1);
}
.clock {
    margin-top: 20%;
    font-size: 3em;
}

.controls button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

.laps {
    margin-top: 20px;
}

.laps ul {
    list-style-type: none;
    padding: 0;
}

.laps li {
    font-size: 1.5em;
}
